[Unit]
Description=Eupnea auto-update
# This service will be deleted when Eupnea moves to using kernel packages instead of a script.

[Service]
Type=oneshot
ExecStart=/usr/bin/manage-kernels --update --non-interactive
