[Unit]
Description=Eupnea auto-update

[Service]
Type=oneshot
ExecStart=/usr/lib/eupnea/eupnea-update
ExecStart=/usr/bin/manage-kernels --update --non-interactive